* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----- header -----*/

#ryparis-logo {
    display: inline-block;
    background-color: orange;
    margin-left: 30px;
}
#header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

#nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#whiteSpace {
    height: 3px;
    background-color: white;
}



/*----- Title Photo ----*/

#titlePhoto {
    height: 750px;
    overflow: hidden;
    position: relative;
}

#titlePhoto img {
    width: 100%;
    height: 167%;
    position: relative;
    z-index: -1;
}

#titlePhoto h1 {
    font-weight: 600;
    font-size: 2.5rem;
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 32%;
}


/*---- Categories ----*/
#categoryContainer {
    width: 80%;
    position: absolute;
    left: 10%;
}
#categoryTitle h2 {
    margin-bottom: 20px;
}
#categoryTitle {
    text-align: left;
    font-size: 1.5rem;
    margin: 50px 0 50px 0;
}

#categoryPhotoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoryPhotos {
    overflow: hidden;
    width: 375px;
    height: 300px;
    position: relative;
}

#breakfast-ideas img{
    width: 500px;
    height: 300px;
    position: relative;
    right: 50px;
}

#vegetarian-ideas img {
    height: 310px;
    width: 310px;
    margin-left: 30px;
}

#dinnerPlate img {
    height: 310px;
    width: 413px;
}

.categoryLabels p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
}



/*------ Recipes ------ */

#recipesContainer {
    background-color: rgb(218,223,234);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 90px 0;
    position: relative;
    top: 70vh;

}

#recipePhotosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    width: 90%;
}

#recipesTitle {
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 35px;
}

#recipesTitle h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.recipePhotos {
    overflow: hidden;
    width: 350px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.recipePhotos p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
}

#fajitaPhoto img {
    width: 389px;
    height: 290px;
    margin-left: 30px;
}

#muffinPhoto img {
    width: 390px;
}

#eggplantPhoto img {
    width: 350px;
    height: 350px;
    margin-top: -35px;
}

#eggplantPhoto {
    height: 295px;
    overflow: hidden;
}

#teriyakiPhoto img {
    width: 400px;
    height: 300px;
    margin-top: -5px;
}