* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





/* ----- header -----*/

#ryparis-logo {
    display: inline-block;
    background-color: orange;
    margin-left: 30px;
}
#header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#whiteSpace {
    height: 3px;
    background-color: white;
}





/*----- Title Photo ----*/

#titlePhoto {
    height: 750px;
    overflow: hidden;
    position: relative;
}

#titlePhoto img {
    width: 100%;
    height: 167%;
    position: relative;
    z-index: -1;
}

#titlePhoto h1 {
    font-weight: 600;
    font-size: 2.5rem;
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 32%;
}






/*---- Categories ----*/
#categoryContainer {
    width: 80%;
    position: absolute;
    left: 10%;
}
#categoryTitle h2 {
    margin-bottom: 20px;
}
#categoryTitle {
    text-align: left;
    font-size: 1.5rem;
    margin: 50px 0 50px 0;
}

#categoryPhotoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoryPhotos {
    overflow: hidden;
    width: 375px;
    height: 300px;
    position: relative;
}

#breakfast-ideas img{
    width: 500px;
    height: 300px;
    position: relative;
    right: 50px;
}

#vegetarian-ideas img {
    height: 310px;
    width: 310px;
    margin-left: 30px;
}

#dinnerPlate img {
    height: 310px;
    width: 413px;
}

.categoryLabels p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
}






/*------ Recipes ------ */

#recipesContainer {
    background-color: rgb(218,223,234);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 90px 0;
    position: relative;
    top: 70vh;

}

#recipePhotosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    width: 90%;
}

#recipesTitle {
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 35px;
}

#recipesTitle h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.recipePhotos {
    overflow: hidden;
    width: 350px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.recipePhotos p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
}

#fajitaPhoto img {
    width: 389px;
    height: 290px;
    margin-left: 30px;
}

#muffinPhoto img {
    width: 385px;
}

#eggplantPhoto img {
    width: 350px;
    height: 325px;
    margin-top: -35px;
}

#teriyakiPhoto img {
    width: 400px;
    height: 295px;
    margin-top: -5px;
}





/*----- Where to Eat----- */

#whereContainer {
    position: relative;
    top: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whereTitle {
    width: 85%;
    margin: 65px 0 10px 0;
    font-size: 1.5rem;
}

#whereTitle h2, p {
    margin-bottom: 30px;
}

#wherePhotosContainer {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.wherePhotos {
    width: 350px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#burgerPhoto img {
    height: 300px;
    width: 385px;
}

#pizzaPhoto img {
    height: 300px;
    width: 450px;
}

#lobsterPhoto img {
    height: 300px;
    width: 450px;
}

.photoBorder {
    height: 340px;
    width: 350px;
    border: solid 7px rgb(218,223,234);
    overflow: hidden;
}

.wherePhotos p {
    font-weight: bold;
    margin-top: 15px;
}



/*----- Footer ---- */
footer {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 40px 0 40px;
    position: relative;
    top: 75vh;
}


h5 {
    display: inline-block;
    margin-left: 100px;
    font-size: 1.2rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

footer ul li {
    list-style: none;
    margin-right: 20px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}




/*----- Recipe Page -----*/


/*----- Gray info Bar-----*/

#quickInfoContainer {
    background-color: rgb(218,223,234);
    font-size: 1.6rem;
}

#infoContainer {
    width: 50%;
    position: relative;
    left: 10%;
    padding: 30px;
}

#infoContainer ul {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 10vh;
    margin-top: 15px;
  }

#infoContainer ul li {
    flex: 1 0 25%;
}

#foodTitle {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#reviewDescription {
    background-color: rgb(218,223,234);
    width: 60%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}